################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Commander/.vs/Commander
/Commander/bin/Debug/netcoreapp3.1
/Commander/obj
/Commander/bin
